# Data Structure

1.What are data structures, and why are they important?

  ->  Data Structures are ways to store and organize data in a computer so it can be used efficiently.

  Importance :

  Makes data access, search, and modification faster.

  Helps solve problems efficiently.

  Used in algorithms, databases, AI, etc.



2.Explain the difference between mutable and immutable data types with examples?

  ->  Mutable: Can be changed after creation.

  Immutable: Cannot be changed after creation.

  ex.Mutable: list, dict, set

  ex.Immutable : int, float, str, tuple

3.What are the main differences between lists and tuples in Python?


  -> In Python, lists are mutable (changeable) and use [], while tuples are immutable (unchangeable) and use (). Lists are used for dynamic data, and tuples for fixed, faster data storage.

4.Describe how dictionaries store data?

  -> In Python, dictionaries store data as key-value pairs. Each key is unique and maps to a specific value. This allows for fast data lookup using the key, rather than searching through the entire data.

5.Why might you use a set instead of a list in Python?

  ->  list in Python when you want to store unique items only and perform fast membership checks. Sets automatically remove duplicates and are faster than lists for checking if an item exists. However, sets are unordered, so you should use them when the order of elements doesn't matter and duplicates are not allowed.

6.What is a string in Python, and how is it different from a list?

  -> In Python, a string is a sequence of characters enclosed in quotes (' ' or " "), used to store text. A list, on the other hand, is a sequence that can hold multiple data types, including strings, numbers, or even other lists.


7.how do tuples ensure data integrity in Python?

  -> In Python, tuples ensure data integrity because they are immutable, meaning their contents cannot be changed after creation. This prevents accidental modification of data, making tuples ideal for storing constant or protected data.

8.What is a hash table, and how does it relate to dictionaries in Python?

  -> A hash table is a data structure that stores data using a key-value pair and uses a hash function to compute an index (called a hash) where the value is stored. It allows for fast data access, insertion, and deletion.


9.Can lists contain different data types in Python?

  -> Python lists are heterogeneous, meaning you can store integers, strings, floats, other lists, or even objects all in the same list.

10.Explain why strings are immutable in Python?

  -> In Python, strings are immutable, meaning they cannot be changed after they are created.

  Safe: Prevents accidental changes.

Fast: Improves speed and memory use.

Hashable: Can be used as dictionary keys.

11.What advantages do dictionaries offer over lists for certain tasks?


  -> You need fast access using keys.

You want to store key-value pairs (like name and age).

You need clearer, more readable code.

You want unique keys to avoid duplicate entries.

12.Describe a scenario where using a tuple would be preferable over a list?

  -> A tuple is preferable over a list when you want to store fixed data that should not change.

  The date of birth is permanent.

Tuples are faster and more memory efficient.

Prevents accidental changes.

13.How do sets handle duplicate values in Python?

  -> In Python, sets automatically remove duplicate values. When you add items to a set, only unique elements are kept.

14.How does the “in” keyword work differently for lists and dictionaries?

  -> List : checks if a value is inside the list

  Dictionary : checks if a key is inside the dictionary (not the value)

15.Can you modify the elements of a tuple? Explain why or why not.?

  -> no tuple are immutable once created their items can't be changed, added or removed


16.What is a nested dictionary, and give an example of its use case?

  -> A nested dictionary is a dictionary inside another dictionary. It lets you store related data in a structured way — like storing multiple records with their own key-value pairs.

  students = {

  "101": {"name": "Tejas", "age": 21},

  "102": {"name": "Asha", "age": 22}

}

print(students["101"]["name"])  # Output: Tejas

17.Describe the time complexity of accessing elements in a dictionary?

  -> Average Case: O(1) → Constant time
Accessing a value by key is very fast due to hashing.

Worst Case: O(n)
Can happen if there are many hash collisions, but it's very rare in practice.

18.In what situations are lists preferred over dictionaries?

  -> Use a list when the order of elements is important (e.g., a to-do list or sequence of steps).

  When storing a simple set of items (e.g., numbers, names) without needing keys.

  If you need to access items by position/index, lists are better.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?

  ->In Python versions before 3.7, dictionaries did not maintain the insertion order of items. This means the order in which you added key-value pairs wasn’t guaranteed to be preserved.

20.Explain the difference between a list and a dictionary in terms of data retrieval?

  -> list : get items by index number (0,1)
     dictionary : get items by key("name") keys make look ups faster and more descriptive

In [ ]:
# 1.Write a code to create a string with your name and print it?
my_name = "Tejas Gaikwad"
my_name

'Tejas Gaikwad'

In [ ]:
#2. Write a code to find the length of the string "Hello World"?

text = "Hello World"

length = len(text)
print("Length of the string is:", length)

Length of the string is: 11

In [ ]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"

text = "Python Programming"
sliced = text[:3]
print("First 3 characters:", sliced)

First 3 characters: Pyt

In [ ]:

#4.Write a code to convert the string "hello" to uppercase


text = "hello"

uppercase_text = text.upper()

print("Uppercase:", uppercase_text)

Uppercase: HELLO

In [ ]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"

text = "I like apple"
new_text = text.replace("apple", "orange")
print("Updated string:", new_text)

Updated string: I like orange

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it.

numbers = [1, 2, 3, 4, 5]
print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

In [ ]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]

num =[1, 2, 3, 4]
num.append(10)
print("Updated list:", num)

Updated list: [1, 2, 3, 4, 10]

In [ ]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)

print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']


letters = ['a', 'b', 'c', 'd']
second_element = letters[1]

print("Second element:", second_element)

Second element: b

In [ ]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].

numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print("Reversed list:", numbers)

Reversed list: [50, 40, 30, 20, 10]

In [ ]:

#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [ ]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [ ]:

#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t = (10, 20, 5, 15)
print(min(t))

5

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [ ]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ('apple', 'banana', 'kiwi')
print('kiwi' in fruits)

True

In [ ]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it
s = {'a', 'b', 'c'}
print(s)

{'b', 'c', 'a'}

In [ ]:
#17.. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [ ]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [ ]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [ ]:

#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {'name': 'John', 'age': 25, 'city': 'New York'}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [ ]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

In [ ]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
print(d['age'])

22

In [ ]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
data = {'name': 'Alice', 'city': 'Paris'}
print('city' in data)

True

In [ ]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 10, 'b': 20}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 10, 'b': 20}

In [ ]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[3, 6, 12, 33, 73]

In [ ]:

#28. Write a code to create a list with strings and print the element at the third index
words = ['apple', 'banana', 'cherry', 'date', 'fig']
print(words[3])

date

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:

#30.Write a code to convert a list of strings into a set
fruits = ['apple', 'banana', 'cherry', 'banana']
fruit_set = set(fruits)
print(fruit_set)

{'cherry', 'banana', 'apple'}